# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# Built application files
*.apk
*.aar
*.aab

# IntelliJ / Android Studio
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Android
/captures
.externalNativeBuild
.cxx

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor backups
*~
/.kotlin/errors
/.kotlin/sessions
